body {
  background-image: url("/images/coffee-beans.jpg");
  background-size: cover;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.menu {
  background-color: rgba(223,185,135,255);
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  font-family: Impact, serif;
  margin: 10px 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.est {
  font-style: italic;
  margin: 5px 0 10px 0;
}

hr {
  height: 2px;
  background-color: brown;
  border: none;
  margin: 10px auto;
  width: 90%;
}

.item-section {
  margin: 10px 0;

}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 20px;
  padding: 0;
  font-size: 1.1rem;
}

article p, article img {
  margin: 0;
  padding: 0;
}
.icon{
size: 10px;

}